@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
* {
    margin: 1rem;
    font-family:"Roboto";

}

body {
    height: 100%;
    width: 100%;
    background: rgb(16,0,36);
    background: linear-gradient(90deg, rgba(16,0,36,1) 42%, rgba(93,32,140,1) 100%, rgba(0,212,255,1) 100%);
    color: #ffffff;
    margin: 0%;
}



nav {
    width: 100%;
    height: 70px;
    margin: -2rem;
    padding-right: 2rem;
    background: rgba(0,0,0, .8);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    top: 0;
  }

.top
 {
    text-align: center;  
    padding-left: 20px;
    line-height: 35px;
    text-transform: uppercase;
    color: #dbdbdb;
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}


.middle {
    margin: 5rem;
    text-align: center;  
}

.middle#home h1{
    margin-top: 15rem;
    margin-bottom: 10rem;
    text-transform: uppercase;
    font-size: 43px;
    transition: 0.4s;
}

#about p,
#resume p{
    margin: 5rem;
}

.work {
    display: flex;
    flex-direction: column ;
    align-items: center;

}

.one {
    width: 800px;
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 200px;
}

textarea {
    padding: 10px;
}

.media {
    display: flex;
    justify-content: center;
    
}
